<%- include('../partials/head') %> 
  </head>
  <body>
 
    <%- include('../partials/nav') %>

    <main
      class="container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 max-w-xl"
    >
      <h2 class="text-5xl tex-gray-800 font-bold text-center mb-6">
        Here are our registered houses
      </h2>

      
      
      <ul class="space-y-4">
        <% registeredHouse.forEach(home=>{ %>
         
      <li class="flex flex-col space-x-5 space-y-3  bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition duration-300">
        <span class="text-4xl font-bold"><%=home.houseName %></span>
        <span class=" text-xl">$<%=home.price %> /perNight</span>
        <span class="text-lg italic"><%=home.location %></span>
        <span class="font-bold text-xl"><%=home.rating %> â­</span>
        <a href="/homes/<%=home.id%>" class="bg-blue-300 p-2">Details</a>
        <button class="bg-green-500 p-2 ">Book</button>
      </li>
         
        <% }) %>
      </ul>
    </main>
  </body>
</html>
